<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
  <script src='/js/jquery-min.js'></script>
  <script src='/js/underscore-min.js'></script>
  <script src='/js/backbone-min.js'></script>
  <script src='/js/app/index.js'></script>
</html>
